.home {
    box-sizing: border-box;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}


.basicBox {
    box-sizing: border-box;
    background-color: rgb(50, 50, 50);
    border-radius: 8px;
    box-shadow:  0 0 12px black;
    margin:50px;
    padding: 0;
    overflow: hidden;
}

.headlineImageThumbnail {
    width: 260px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 20px;
}

.headlineImageThumbnail img {
    width: 100%;
}


.articleBlock {
    padding-left: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;   /* <-- Center children across each row */
}

.articleThumb {
        font-family: "Noto Serif", serif;
    border-radius: 6px;
    border: 2px solid gba(0,0,0,.35);
  background-color: rgba(0,0,0,.35);
  cursor: pointer;
  padding: 18px;
  user-select: none;
  width: 260px;
  color: white;
  font-size: 20px;
  box-shadow: 4px 4px 6px 6px rgba(0,0,0,.4);
}

.articleThumb:hover {
        border-radius: 6px;
    border: 2px solid gba(0,0,0,.35);
  background-color: rgba(0,0,0,.65);
    box-shadow: 4px 4px 6px 6px rgba(0,0,0,.4);
}

.articleThumb:active {
  background-color: black;
}

.briefArticleStart {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
  margin-top: 18px;
    font-size: 14px;
    color: rgb(179, 179, 179);
}