


.basicBox {
    box-sizing: border-box;
    background-color: rgb(50, 50, 50);
    border-radius: 8px;
    box-shadow:  0 0 12px black;
    margin:50px;
    padding: 0;
    overflow: hidden;
}

.headlineImageThumbnail {
    width: 260px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 30px;
}

.headlineImageThumbnail img {
    width: 100%;
}


.articleBlock {
    padding-left: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;   /* <-- Center children across each row */
}

.articleThumb {
        font-family: "Noto Serif", serif;
    border-radius: 6px;
    border: 2px solid gba(0,0,0,.35);
  background-color: rgba(0,0,0,.35);
  cursor: pointer;
  padding: 18px;
  user-select: none;
  width: 260px;
  color: white;
  font-size: 22px;
  box-shadow: 4px 4px 6px 6px rgba(0,0,0,.4);
}

.articleThumb:hover {
        border-radius: 6px;
    border: 2px solid gba(0,0,0,.35);
  background-color: rgba(0,0,0,.65);
    box-shadow: 4px 4px 6px 6px rgba(0,0,0,.4);
}

.articleThumb:active {
  background-color: black;
}

.briefArticleStart {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
  margin-top: 18px;
    font-size: 14px;
    color: rgb(179, 179, 179);
}

.articleList {
      width: 100%;  
      padding-top: 20px;
}


.merchList {
  padding: 20px;
    width: 100%;  
}


.home {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   /* Mobile: stacked */
}


.child {
  width: 100%;              /* Mobile: each child takes full width */
}

/* Tablet and larger */
@media (min-width: 768px) {
  .home {
    flex-direction: row;    /* Side-by-side */
  }

  .articleList {
    flex: 3;                /* 2/3 width */
  }

  .merchList {
    flex: 1;                /* 1/3 width */
    padding-right: 40px;
  }
}


.productBox {
  margin-bottom: 30px;
  background-color: rgba(0,0,0,.25);
  padding: 18px;
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.productBox:hover {
  background-color: black;
}

.productBoxImage {
  max-width: 200px;
  margin:auto;
}

.productBoxImage img {
  max-width: 200px;
}

.productBeauty {
  margin: auto;
  width: 40%;
  border: 1px solid gray;
}

.productBeauty img {
  max-width: 80%;
  margin:auto;
}

.productImagePreviewThumbnail {
  width: 200px;

}

.productImagePreviewThumbnail img {
  width: 100%;
}