.home {
    box-sizing: border-box;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}


.basicBox {
    box-sizing: border-box;
    background-color: rgb(50, 50, 50);
    border-radius: 8px;
    box-shadow:  0 0 12px black;
    margin:50px;
    padding: 0;
    overflow: hidden;
}

