.article {
    box-sizing: border-box;
    background-color: #a6adb0;
    color: black;
    padding: 0;
    margin:20px;
    min-height: 800px;
}

.articlePageCategory {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.articlePageCategory:hover {
    background-color: rgba(0, 0, 0, 1);
}

.articlePageTitle {
     font-feature-settings: "kern" .5;
    padding: 10px;
    font-weight: 700;
    font-size: 42px;
}

.headlineImageContainer {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.headlineImageContainer img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* centers vertically and horizontally */
}

.articleBody {
    margin-left: 14px;
    margin-right: 14px;
}

.headlineImagePreview {
    background-color: purple;
    width: 100%;
    height: 200px;
}

.headlineImagePreview img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* centers vertically and horizontally */
}
