.article {
    /* font-family: "Patua One", serif;
  font-weight: 300;
  font-style: normal; */

    /* font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal; */

    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
        letter-spacing: -.025em;



    box-sizing: border-box;
    background-color: #a6adb0;
    color: black;
    padding: 0;
    padding-left: 0px;
    padding-bottom: 84px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 800px;
    max-width: 900px;
}

.articlePageCategory {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.articlePageCategory:hover {
    background-color: rgba(0, 0, 0, 1);
}

.articleContainer {
  padding: 20px;
}
.articlePageTitle {
     /* font-feature-settings: "kern" 5; */
    padding: 10px;
    font-weight: 900;
    font-size: 36px;
    letter-spacing: -.025em;
}

.noHeadlineImageContainer {
  height: 300px;
  width: 100%;
}

.headlineImageContainer {
    box-sizing: border-box;
    width: 100%;
}

.headlineImageContainer img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* centers vertically and horizontally */
}

.articleBody {
    margin-left: 14px;
    margin-right: 14px;
    font-size: 20px;
      font-feature-settings: "kern" 5;
}

.headlineImagePreview {
    background-color: purple;
    width: 100%;
    height: 200px;
}

.headlineImagePreview img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* centers vertically and horizontally */
}

.articleList {
    padding: 20px;
}

.articleThumb {
  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 8px;
  user-select: none;
}

.articleThumb:hover {
  background-color: #333333;
}

.articleThumb:active {
  background-color: black;
}

.articleBlock {
    padding-left: 30px;
    padding-bottom: 20px;
}