
.loginForm {
    background-color: rgb(50, 50, 50);
    border-radius: 8px;
    box-shadow:  0 0 12px black;
    margin:50px;
    padding:50px;
}

input {
    padding: 9px;
}

label {
    padding-top: 1em;
    display: block;
}

.loggedInAs {
  border-top: 4px solid blue;

  padding:10px;
  padding-left: 20px;
}