
@use 'colors' as *;
@use 'variables' as *;


.productsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 20px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.productBox {
  background-color: rgba($background, .25);
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  color: $text-basic;
  transition: all .25s;
}

.productBox:hover {
  background-color: $background;
  box-shadow: 0 0 12px $highlight;
}

.productBoxImage {
  width: 100%;
  margin: auto;
  position: relative;
  top: -12px;
}

.productBoxImage img {
  width: 100%;
}


.productImagePreviewThumbnail {
  width: 200px;
}

.productImagePreviewThumbnail img {
  width: 100%;
}

.productThumbnailTitle {
    font-family: $font-serif;
  font-size: 20px;
}


.productThumbnailDescriptionBox {
  padding: 20px;
  padding-bottom: 40px;
}

.productThumbnailDescriptionBoxText {
  font-family: $font-sans;
  font-size: 16px;
  margin-top: 14px;
  line-height: 24px;
}

.productPageLayout {
    display: flex;
    flex-direction: column;
    /* Mobile: stacked */
    gap: 1rem;
    box-sizing: border-box;
}

.pplChild {
    width: 100%;
    /* Mobile: each child takes full width */
}

.pplChild-left {

}

.pplChild-right {
    padding-left: 60px;
    padding-right: 50px;
    max-width: 100%;
    width: 80%;
}

/* Tablet and larger */
@media (min-width: 768px) {
    .productPageLayout {
        flex-direction: row;
        /* Side-by-side */
    }

    .pplChild-left {
        flex: 3;
        /* ~75% width */
    }

    .pplChild-right {
            /* border-left: 2px solid gray; */
        flex: 2;
  
                padding-left:0;
    padding-right: 50px;
        /* ~25% width */
    }
}

.productBeauty {
    font-family: $font-serif;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 30px;
}

.productBeauty img {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}

.prodcutTitle {
    text-align: left;
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 12px;
    padding: 0 10px;
}

.productDescriptionBlock {
    text-align: left;
    padding: 0 10px;
}

.productPrice {
  font-size: 36px;
  font-weight: 700;
  color: #7ec8e3;
  margin-bottom: 20px;
}

.sizeBoxes {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-top: 12px;
    font-weight: 900;
}

.sizeBox {
    border: 3px solid $border-neutral;
    padding: 18px;
    border-radius: 8px;
    margin-right: 8px;
}

.sizeBox:hover {
    border: 3px solid $size-select;
}

.sizeBox.active {
    border: 3px solid $size-select;
    background-color: $background;
    color: $foreground;
}

.standout {
    font-weight: 700;
    color: $highlight;
}
