.adminPanel {
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 0 0 8px black;
  background-color: rgb(96, 96, 96);
  max-width: 100%;
  width: calc(100% - 40px);
  margin:20px;
}



.adminContent {
  padding: 20px;
}

.caution {
    background-color: rgb(164, 82, 1);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    user-select: none;
     margin-bottom: 20px;
}

.caution:hover {
    background-color: rgb(203, 104, 6);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    user-select: none;
     margin-bottom: 20px;
}


.dangerous {
    background-color: rgb(133, 1, 1);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    user-select: none;
   
}

.dangerous:hover {
    background-color: rgb(175, 3, 3);
}


.killCategory {
    background-color: black;
    text-align: left;
}

.aaRow {
  background-color: rgba(255,255,255,.1);
  cursor: pointer;
  display: flex;
  align-items: center;    /* vertically center items if heights differ */
  justify-content: space-between; /* push them apart horizontally */
  width: 100%;
  user-select: none;
  color: rgb(255,255,255,.5);
}

.aaItem {
  flex: 1;                /* take up all remaining space */
  text-align: left;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 12px;
}

.aaRow:hover {
    background-color: rgba(0,0,0,.25);
    color: rgb(255,255,255,1);
}

.aaRow:hover:has(.killButton:hover) {
   background-color: rgba(255,255,255,.1);/* or your normal background */
}

.killButton {
  border: 2px solid rgba(255,255,255,.25);
  background-color: rgba(0,0,0,.4);
  cursor: pointer;
  border-radius: 50%;
  margin-right: 6px;
  width: 26px;
  height: 26px;
  user-select: none;
}

.killButton:hover {
    border: 2px solid black;
    background-color: black;
}

.killButton:active {
    background-color: black;
}

.bRow {
  border: 1px solid black;
  display: flex;
  width: 100%;
}

.bLabel {
  background-color: rgba(0,0,0,.2);
  max-width: 120px;
  width: 120px;
}
.bItem {
  flex: 1;
  overflow: hidden;
}

.bUser {
  border: 1px solid black;
  padding: 10px;
}