
.borgLogo {
  display: inline-block;
  margin: 0;
  padding: 8px;
  padding-left: 20px;
  font-weight: bold;
  width: 200px;
  max-height: 60px;
  cursor: pointer;
  user-select: none;
}

.borgLogo:hover {
   background-color: #00345f;
}

.navBanner  {
  border:none;
  display: flex;
  width: 100%;
  height: 60px;
}

.left {
  width: 200px;
}

.middle {
  flex: 1; /* take up all remaining space */
}


.logout {
  display: inline-block;
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: rgb(7, 12, 24);
  opacity: .75;
    vertical-align: top;
    margin-top: 12px;
}


.titleType {
  font-size: 34px;
  user-select: none;
}

.userIcon {
  background-image: url('../assets/person_icon_white.svg');
  background-size: 60px 60px;
  background-position: 50% 6px;
  background-repeat: no-repeat;
   display: inline-block;
  background-color: black;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 6px;
  vertical-align: top;
  border:2px solid rgb(195, 195, 195);
  opacity: .5;
}

.userIcon:hover {
  opacity: 1;
  background-color: blue;
}

.userAccountIconContainer {
  display: block;
  height: 60px;
  text-align: right;
  padding-right: 20px;
  position: relative;
  width: 250px;
  top: 0;
  right: 0;
}
