
.borgLogo {
  display: inline-block;
  margin: 0;
  padding: 8px;
  padding-left: 20px;
  font-weight: bold;
  width: 200px;
  max-height: 60px;
  cursor: pointer;
  user-select: none;
}

.borgLogo:hover {
   background-color: #00345f;
}

.moonMathLogo {
  display: inline-block;
  height: 80px;
  margin: 0;
  padding: 8px;
  padding-top: 24px;
  padding-left: 50px;
  font-weight: bold;
  min-width: 400px;
  max-height: 80px;
  cursor: pointer;
  user-select: none;
  /* border: 2px solid red; */
    box-sizing: border-box;
    background-image: url('../assets/moonmath_logo.svg');
    background-repeat: no-repeat;
    background-size: 342px;
    background-position: 50px 22px;
}

/* .moonMathLogo img {
  width: 280px;
  padding-top: 4px;
} */

.moonMathLogo:hover {
    background-image: url('../assets/moonmath_logo_hi.svg');
}

.tagline {
  width: 100%;
  box-sizing: border-box;
}

.tagline img {
  width: 300px;
  padding-left: 50px;
  padding-top: 10px;
}

.navBanner  {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 90px;
}

.left {
  width: 200px;
}

.right {
  /* border: 2px solid pink; */
  width: 200px;
  margin-right: 50px;
  min-width: 60px;
  position: relative;
}

.burger {
  /* border: 2px solid green; */
  border-radius: 8px;
  width: 44px;
  height: 40px;
    position: absolute;
  right: 0;
  top: 16px;
  border: 4px solid #2864c8;
  cursor: pointer;
  user-select: none;
  z-index: 300;
  background-color: black;
}

.burger:hover {
  /* background-color: black; */
  border-color: #4b86ed;
}

.burger:active {
  background-color: #2864c8;
  border-color: #8bb6ff;
}

.patty {
  width: 70%;
  box-sizing: border-box;
  background-color:#2864c8;
  height: 4px;
  border-radius: 8px;
  margin: auto;
  margin-top: 7px;
  border-radius: 2px;
}

.burger:hover .patty {
  background-color: #4b86ed;
}

.burger:active .patty {
  background-color: #8bb6ff;
}

.menu {
  width: 400px;
  height: 400px;
  max-height: 400px;
  background-color: #2864c8;
  border-radius: 12px;
  z-index: 200;
  position: absolute;
  top: 20px;
  right: 0px;
  cursor: pointer;
  user-select: none;
  transform-origin: top right;
  transform: scaleY(0);
  transition: transform .15s ease-out, opacity .25s ease-out;
  opacity: 0;
}

.menu.open {
  transform: scaleY(1) scaleX(1);
  opacity: 1;
}

.innerMenu {
  background-color: gray;
  border: 2px solid black;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.middleBannerNav {
  box-sizing: border-box;
    height: 70px;
  /* border: 2px solid orange; */
  flex: 1; /* take up all remaining space */
  max-height: 70px;
  text-align: center;
  display: flex;

}


.logout {
  display: inline-block;
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: rgb(7, 12, 24);
  opacity: .75;
    vertical-align: top;
    margin-top: 12px;
}


.titleType {
  font-size: 34px;
  user-select: none;
}

.userIcon {
  background-image: url('../assets/person_icon_white.svg');
  background-size: 60px 60px;
  background-position: 50% 6px;
  background-repeat: no-repeat;
   display: inline-block;
  background-color: black;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 6px;
  vertical-align: top;
  border:2px solid rgb(195, 195, 195);
  opacity: .5;
}

.userIcon:hover {
  opacity: 1;
  background-color: blue;
}

.userAccountIconContainer {
  /* border: 2px solid green; */
  box-sizing: border-box;
  display: block;
  height: 70px;
  text-align: right;
  padding-right: 20px;
  position: relative;
  width: 250px;
  top: 0;
  right: 0;
}

.divider {
  width: 90%;
  box-sizing: border-box;
  background-color:#2864c8;
  height: 4px;
  border-radius: 8px;
  margin: auto;
}

.grayButton {
  background-color: rgb(55, 55, 55);
  padding:8px;
  border-radius: 6px;
  height: 20px;
}

.grayButton:hover {
  background-color: rgb(67, 67, 67);
  padding:8px;
  border-radius: 6px;
  height: 20px;
}

.midSizeButton {
  width: 200px;
 box-shadow: 2px 2px 8px rgba(0,0,0,.4);
}

.adminButton {
    margin-left: auto;
  margin-right:auto;
  margin-top: 14px;
}

/* ADMIN stuff ------- */

.expandableTable {
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 12px 12px 8px 8px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,.24);
  background-color: rgba(0,0,0,.24);
}

.expandableTable .expanded{
  margin-top: 20px;
  margin-bottom: 20px;
  height: max-content;
}

.expandableTableHeaderRow {
  background-color: rgb(82, 82, 82);
  height: 24px;
  user-select: none;
  cursor: pointer;
  padding: 8px;
}

.expandableTableHeaderRow:hover {
  background-color: black;
}

.expandableTableContent {
  height: 0px;
  overflow: hidden;
  padding: 20px;
}