
.borgLogo {
  display: inline-block;
  margin: 0;
  padding: 8px;
  padding-left: 20px;
  font-weight: bold;
  width: 200px;
  max-height: 60px;
  cursor: pointer;
  user-select: none;
}

.borgLogo:hover {
   background-color: #00345f;
}

.navBanner  {
  display: flex;
  width: 100%;
  height: 60px;
}

.left {
  width: 200px;
}

.middle {
  flex: 1; /* take up all remaining space */
}

.right {
  width: 100px;
}

.logout {
  padding: 10px;
  width: 150px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  margin-top: 12px;
}


.titleType {
  font-size: 34px;
  user-select: none;
}