
@use 'colors' as *;
@use 'variables' as *;

input,
textarea,
select {
  background: $surface;
  color: $text-basic;
  border: 1px solid shade($surface, 10%);
  border-radius: $border-radius-sm;
  padding: 0.5rem 0.75rem;

  &:focus {
    outline: none;
    border-color: $highlight;
    box-shadow: 0 0 0 1px tint($highlight, 40%);
  }
}




.loginForm {
    background-color: rgb(50, 50, 50);
    border-radius: 8px;
    box-shadow:  0 0 12px black;
    margin:50px;
    padding:50px;
}

input {
    padding: 9px;
}

label {
    padding-top: 1em;
    display: block;
}

.loggedInAs {
  padding:10px;
  padding-left: 20px;
}
.errorMessage {
    background-color: rgb(78, 16, 16);
    color: white;
    padding: 14px;
    border-radius: 8px;
    margin-top: 12px;
}


.new-article-form {
    background-color: rgba(0, 0, 0, .25);
    padding: 28px;
}

.new-article-form label {
    display: block;
    padding: 8px;
    background-color: black;
    color: white;
}

.new-article-form input {
    border: 2px solid black;
    box-sizing: border-box;
    padding: 18px;
    font-size: 24px;
    font-weight: 500;
    color: black;
    background-color: gray;
    outline: none;
    width: 100%;
    margin-bottom: 8px;
}

.new-article-form input:active {
    border: 2px solid white;
}

.new-article-form input:focus {
    border: 2px solid white;
}

.new-article-form textarea {
    border: 2px solid black;
    box-sizing: border-box;
    padding: 18px;
    font-size: 24px;
    font-weight: 500;
    color: black;
    background-color: gray;
    outline: none;
    width: 100%;
    margin-bottom: 8px;
    resize: vertical;
    /* allow vertical resizing only, optional */
}

.new-article-form textarea:focus {
    border: 2px solid white;
}

.new-article-form select {
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 18px;
    font-size: 24px;
    font-weight: 500;
    color: black;
    background-color: gray;
    outline: none;
    margin-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.new-article-form select:focus {
    border: 2px solid white;
}

.new-article-form .row {
    display: block;
    width: 100%;
    gap: 8px;
    box-sizing: border-box;
}

.new-article-form .row select {
    width: 300px;
    float:left;
    width: 200px;
}

.new-article-form .row input {
    width: 300px;
    display: inline-block;
    width: calc(100% - 212px);
    box-sizing: border-box;
    margin-left: 8px;
}

.new-article-form input::placeholder {
    color: black;
    font-style: italic;
}



.titleText {
    color: white;
    font-family: "Noto Serif", serif;
    font-size: 26px;
}

.pageLayout {
    padding:40px;
}

.editUserForm {
    padding: 40px;
}

.checkBox {
    border: 2px solid rgb(149, 149, 149);
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 12px;
    display: inline-block;
}

.checkBoxSelected {
    background-image: url('../assets/checkmark.svg');
    border: 2px solid rgb(149, 149, 149);
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 12px;
    display: inline-block;
}

.lineContainer {
    border: 1px solid black;
    display: block;
}

.orderForm fieldset {
    border: 1px solid $sticker-text;
    color: $sticker-text;
    padding-bottom: 24px;
    margin-bottom: 34px;
}

.orderForm label {
    color: $text-basic;
    display: block;
}

.orderForm input {
    border-radius: 8px;
    padding: 12px;
    background-color:black;
    border: 1px solid $sticker-text;
        display: block;
        width: 400px;
}
.orderForm textarea {
        border-radius: 8px;
    padding: 12px;
    background-color:black;
    border: 1px solid $sticker-text;
    width: 400px;
}

/* Autofill override */
.orderForm input:-webkit-autofill,
.orderForm input:-webkit-autofill:hover,
.orderForm input:-webkit-autofill:focus,
.orderForm input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 3s;
  color: white;
}

