@use 'colors' as *;
@use 'variables' as *;

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.basicContainer {
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 60px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 50px;
  border-radius: $border-radius-lg;
  font-family: 'Courier New', Courier, monospace;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0,0,0,.05);
  margin: 50px;
  width: 90%;
  max-width: 1400px;
  box-sizing: border-box;
  color: $text-basic;
  line-height: 2.3em;
  font-weight: 200;
}

.basicBox {
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 12px black;
  margin: 50px;
  padding: 10px;
  overflow: hidden;
  background-color: $cards;
}

.headlineImageThumbnail {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.headlineImageThumbnail img {
  width: 100%;
  user-select: none;
}


.articleBlock {
  // border: 3px solid blue;
  padding: 20px;
  padding-top: 8px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  /* <-- Center children across each row */
}

.articleThumb {
  font-family: "Noto Serif", serif;
  border-radius: $border-radius-md;
  overflow: hidden;
  // border: 2px solid cyan;
  box-sizing: border-box;
  background-color: $cards;
  box-shadow: 0 0 8px black;
  cursor: pointer;
  padding: 0;
  user-select: none;
  color: white;
  font-size: 22px;
  margin: 0px;
  width: 100%;
  flex: 0 0 100%;
  opacity: .85;
  transition: all .5s;
}

.articleThumb:hover {
  border-radius: 6px;
  border: 2px solid gba(0, 0, 0, .35);
  background-color: rgba(0, 0, 0, .65);
   box-shadow: 0 0 18px $highlight;
   opacity: 1;
}

.articleThumb:active {
  background-color: black;
}

.articleThumbText {
  padding: 20px;
  padding-top: 0;
}

.briefArticleStart {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8em;
  margin-top: 18px;
  font-size: 14px;
  color: rgb(179, 179, 179);
}

.articleList {
  box-sizing: border-box;
  // border: 2px solid pink;
  padding:0;
  padding-left: 50px;
  padding-right: 60px;
  width: 100%;
  max-width: 100%;
}


.merchList {
  padding: 50px;
  padding-right: 60px;
  padding-top: 0;
  width: 84%;
  max-width: 84%;
}


.home {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Mobile: stacked */
}


.child {
  width: 100%;
  /* Mobile: each child takes full width */
}

/* Tablet  */
@media (min-width: 768px) {
  .home {
    flex-direction: row;
    /* Side-by-side */
  }

  .articleList {
    flex: 3;
      padding-right: 0px;
    /* 2/3 width */
  }

  .merchList {
    flex: 1;
    /* 1/3 width */
    padding-left: 20px;
    padding-right: 6%;

  }

}

@media (min-width: 1024px) {
  .articleThumb {
        flex:40%;
  }
}


@media (min-width: 1400px) {
  .articleThumb {
        flex:30%;
        max-width: 30%;
  }
}





.borgLogo {
  display: inline-block;
  margin: 0;
  padding: 8px;
  padding-left: 20px;
  font-weight: bold;
  width: 200px;
  max-height: 60px;
  cursor: pointer;
  user-select: none;
}

.borgLogo:hover {
   background-color: #00345f;
}

.moonMathLogo {
  display: inline-block;
  margin: 0;
  padding: 8px;
  padding-top: 0px;
  padding-left: 0px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  background-image: url('../assets/moon-math.jpg');
  background-repeat: no-repeat;
  background-size: 420px;
  background-position: 0px 0px;
}

.moonMathLogo:hover {
      background-image: url('../assets/moon-math_hi.jpg');
}

.tagline {
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  height: 20px;
}

.banner {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 12px;
}

.navBanner  {
  box-sizing: border-box;
  // border: 2px solid red;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 134px;
}

.bannerLeft {
  // border: 1px solid green;
  width: 85%;
  min-width: 360px;
  max-width: 390px;
  height: 120px;
}

.bannerRight {
  width: 200px;
  margin-right: 6%;
  min-width: 60px;
  position: relative;
}

.burger {
  border-radius: 8px;
  width: 44px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 36px;
  border: 4px solid $main;
  cursor: pointer;
  user-select: none;
  z-index: 300;
  background-color: black;
}

.burger:hover {
  border-color: $highlight;
}

.burger:active {
  background-color: $main;
  border-color: $main;
}

.patty {
  width: 70%;
  box-sizing: border-box;
  background-color:$main;
  height: 4px;
  border-radius: 8px;
  margin: auto;
  margin-top: 7px;
  border-radius: 2px;
}

.burger:hover .patty {
  background-color: $highlight;
}

.burger:active .patty {
  background-color: $main;
}

.menu {
  border: 4px solid $main;
  background-color: black;
  width: 200px;
  height: 0px;
  border-radius: 12px;
  z-index: 200;
  position: absolute;
  top: 40px;
  right: 0px;
  user-select: none;
  transform-origin: top right;
  transform: scaleY(0);
  transition: all .15s ease-out;
  opacity: 0;
  overflow: hidden;
}

.menu.open {
  transform: scaleY(1) scaleX(1);
  opacity: 1;
    right: 0px;
    top: 50px;
    width: 400px;
    height: fit-content;
    box-shadow: 0 0 50px black;
}


.innerMenuOption {
  width: 100%;
  height: 30px;
  padding: 18px;
  font-size: 20px;
  font-weight: 500;
    cursor: pointer;
}

.innerMenuOption:hover {
  background-color: $darker_main;
  color: white;
}

.middleBannerNav {
  box-sizing: border-box;
    height: 70px;
  flex: 1; /* take up all remaining space */
  max-height: 70px;
  text-align: center;
  display: flex;

}


.logout {
  display: inline-block;
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: rgb(7, 12, 24);
  opacity: .75;
    vertical-align: top;
    margin-top: 12px;
}


.titleType {
  font-size: 34px;
  user-select: none;
}

.userIcon {
  background-image: url('../assets/person_icon_white.svg');
  background-size: 60px 60px;
  background-position: 50% 6px;
  background-repeat: no-repeat;
   display: inline-block;
  background-color: black;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 6px;
  vertical-align: top;
  border:2px solid rgb(195, 195, 195);
  opacity: .5;
}

.userIcon:hover {
  opacity: 1;
  background-color: $highlight;
}

.userAccountIconContainer {
  box-sizing: border-box;
  display: block;
  height: 70px;
  text-align: right;
  padding-right: 20px;
  position: relative;
  width: 250px;
  top: 0;
  right: 0;
}

.divider {
  width: 100%;
  box-sizing: border-box;
  background-color:$main;
  height: 4px;
  border-radius: 8px;
  margin: auto;
  opacity: .5;
}

.grayButton {
  background-color: rgb(55, 55, 55);
  padding:8px;
  border-radius: 6px;
  height: 20px;
}

.grayButton:hover {
  background-color: rgb(67, 67, 67);
  padding:8px;
  border-radius: 6px;
  height: 20px;
}

.midSizeButton {
  width: 200px;
 box-shadow: 2px 2px 8px rgba(0,0,0,.4);
}

.adminButton {
    margin-left: auto;
  margin-right:auto;
  margin-top: 14px;
}

/* ADMIN stuff ------- */

.expandableTable {
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 12px 12px 8px 8px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,.24);
  background-color: rgba(0,0,0,.24);
}

.expandableTable .expanded{
  margin-top: 20px;
  margin-bottom: 20px;
  height: max-content;
}

.expandableTableHeaderRow {
  background-color: rgb(82, 82, 82);
  height: 24px;
  user-select: none;
  cursor: pointer;
  padding: 8px;
}

.expandableTableHeaderRow:hover {
  background-color: black;
}

.expandableTableContent {
  height: 0px;
  overflow: hidden;
  padding: 20px;
}



.contactForm {
  padding:0;
    font-family: Arial, Helvetica, sans-serif;

}

.contactForm input {
  display: block;
  min-width: 600px;
  border-radius: 6px;
  overflow: hidden;
  padding: 14px;
  margin: 0px;
  margin-bottom: 18px;
  background-color: black;
  border: 2px solid $sticker-color;
    font-size: 18px;
}

.contactForm input:not(:placeholder-shown) {
 
}

/* Autofill override */
.contactForm input:-webkit-autofill,
.contactForm input:-webkit-autofill:hover,
.contactForm input:-webkit-autofill:focus,
.contactForm input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 3s;
  color: white;
}


.contactForm textarea {
  display: block;
  min-width: 610px;
  min-height: 150px;
  border-radius: 6px;
  overflow: hidden;
  padding: 10px;
  margin: 0px;
  background-color: black;
  border: 1px solid black;
  margin-bottom: 28px;
      font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
}

.contactForm input:-webkit-autofill,
.contactForm input:-webkit-autofill:hover,
.contactForm input:-webkit-autofill:focus,
.contactForm textarea:-webkit-autofill,
.contactForm textarea:-webkit-autofill:hover,
.contactForm textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
  color: white;
}

.contactForm textarea:not(:placeholder-shown) {
  color: white;
}

.contactForm textarea:focus,
.contactForm textarea:active {
  color: white;
}

.footerContainer {
  width: 100%;
  padding-left:50px;
  padding-right:50px;
  box-sizing: border-box;
}

.footer {
  padding-top: 0px;
  padding-bottom: 50px;
  margin-bottom: 200px;
  color: $sticker-text;
  cursor: pointer;
  user-select: none;
}


.footer p {
  color: $main;
}


.footer p:hover {
    color: $highlight;
}

.counter {
  // border: 1px solid fuchsia;
  margin-top: 14px;
  margin-bottom: 34px;
}

.counterBox {
  background-color: $text-basic;
  border-radius: 8px;
  padding: 8px;
  width: 60px;
    margin-right: 8px;
    text-align: center;
    font-size: 24px;
    padding-top: 14px;
    color: black;
    font-weight: 700;
}

.quantityButton {
  border-radius: 8px;
  padding: 0px;
  width: 60px;
  background-color: $accent;
  font-size: 40px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 1.45em;
  color: white;
  font-weight: 400;
}

.counterBoxContainer {
  display: flex;
  margin-bottom: 20px;
  user-select: none;
  cursor: pointer;
}

.ordersContainer {
  display: block;
  // border: 2px solid fuchsia;
}

.orderBox {
  display: block;
  border: 1px solid $sticker-text;
  padding: 12px;
  padding-right: 0;
  margin-bottom: 20px;
  position: relative
}

.orderInfo {
  background-image: url('../assets/shopping_cart.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 0 16px;
  // border: 1px solid cyan;
  padding-top:50px;
  width: 80px;
  color: $main;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  right: 64px;
}

.orderInfo:hover {
  background-image: url('../assets/shopping_cart_hi.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 0 16px;
  // border: 1px solid cyan;
  padding-top:50px;
  width: 80px;
  color: $main;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  right: 64px;
}

.orderProductImg {
  width: 300px;
}

.orderProductImg img {
  width: 100%;
}

.removeOrder {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $accent;
  color: white;
  padding: 8px;
  opacity: .5;
  cursor: pointer;
  user-select: none;
}

.removeOrder:hover {
  opacity: 1;
}

.memes {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.memes img {
  width: 25%;
  min-width: 250px;
  margin: 2%;
  box-shadow: 0 0 18px $accent;
  vertical-align: top;
}

.thumbnailMemes {
  // border: 4px solid orange;
  width: 100%;
  text-align: center;
}

.thumbnailMemeContent {
  border: 4px solid green;
  width: 50px;
}


.thumbnailMemes img {
  width: 90%;
  margin-bottom: 40px;
  box-shadow: 0 0 12px $main
}

.thumbnailMemes img:hover {
    box-shadow: 0 0 12px white;
}

/* Image modals */

.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.thumbnail {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.thumbnail:hover {
  transform: scale(1.03);
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(10, 20, 30, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.2s ease;
}

/* Enlarged image */
.modalImage {
  max-width: 80vw;
  max-height: 80vh;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
  animation: scaleUp 0.25s ease;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.85); }
  to   { transform: scale(1); }
}

