
@use 'colors' as *;
@use 'variables' as *;


.productBox {
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  color: $text-basic;
  transition: all .25s;
}

.productBox:hover {
  background-color: black;
  box-shadow: 0 0 12px $highlight;
}

.productBoxImage {
  width: 100%;
  margin: auto;
  position: relative;
  top: -12px;
}

.productBoxImage img {
  width: 100%;
}


.productImagePreviewThumbnail {
  width: 200px;
}

.productImagePreviewThumbnail img {
  width: 100%;
}

.productThumbnailTitle {
    font-family: "Noto Serif", serif;
  font-size: 20px;
}


.productThumbnailDescriptionBox {
  padding: 20px;
  padding-bottom: 40px;
}

.productThumbnailDescriptionBoxText {
  font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Courier New', Courier, monospace;
  // font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 14px;
  line-height: 24px;
}

.productPageLayout {
    display: flex;
    flex-direction: column;
    /* Mobile: stacked */
    gap: 1rem;
    box-sizing: border-box;
}

.pplChild {
    width: 100%;
    /* Mobile: each child takes full width */
}

.pplChild-left {

}

.pplChild-right {
    padding-left: 60px;
    padding-right: 50px;
    max-width: 100%;
    width: 80%;
}

/* Tablet and larger */
@media (min-width: 768px) {
    .productPageLayout {
        flex-direction: row;
        /* Side-by-side */
    }

    .pplChild-left {
        flex: 3;
        /* ~75% width */
    }

    .pplChild-right {
            /* border-left: 2px solid gray; */
        flex: 2;
  
                padding-left:0;
    padding-right: 50px;
        /* ~25% width */
    }
}

.productBeauty {
    font-family: "Noto Serif", serif;
    margin: auto;
    width: 80%;
    text-align: center;
}

.productBeauty img {
    max-height: 400px;
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
}

.prodcutTitle {
    text-align: left;
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 12px;
}

.productDescriptionBlock {
    text-align: left;
    ;
}

.sizeBoxes {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-top: 12px;
    font-weight: 900;
}

.sizeBox {
    border: 3px solid gray;
    padding: 18px;
    border-radius: 8px;
    margin-right: 8px;
}

.sizeBox:hover {
    border: 3px solid orange;
}

.sizeBox.active {
    border: 3px solid orange;
    background-color: black;
    color: white;
}
