

@use 'colors' as *;
@use 'variables' as *;

body {
  font-family: $font-sans;
  color: $text-basic;
  background: $background;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  color: $text-headline;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
  color: $text-basic;
}

a {
  color: $link;
  text-decoration: none;
  transition: color $transition-fast;

  &:hover {
    color: $link-hover;
  }
}


h1 {
      /* font-family: "Inconsolata", monospace; */
      font-family: "Noto Serif", serif;
      color: $highlight;
      font-size: 26px;
}

.hero-title {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.02em;
  margin:0;
  padding:0;
  padding-top: 0px;
  padding-left: 30px;
  color: $accent;
  user-select: none;
  padding-left: 6px;
  position: relative;
  top: -34px;
}


.article {
    /* font-family: "Patua One", serif;
  font-weight: 300;
  font-style: normal; */

    /* font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal; */

    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
        letter-spacing: -.025em;



    box-sizing: border-box;
    background-color: $cards;
    padding: 0;
    padding-left: 0px;
    padding-bottom: 84px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 800px;
    max-width: 900px;
}

.articlePageCategory {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.articlePageCategory:hover {
    background-color: rgba(0, 0, 0, 1);
}

.articleContainer {
  // border: 2px solid orange;
  padding-left: 50px;
  padding-right: 60px;
}

.articlePageTitle {
     /* font-feature-settings: "kern" 5; */
    //  border: 2px solid fuchsia;
     padding: 0;
     padding-top: 14px;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: -.025em;
    color: $title-text;
}

.articleContainer p {
  // border: 2px solid green;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 2.2em;
  margin-bottom: 18px;
  margin-top: 18px;
  color: $text-article;
  font-weight: 200;
     letter-spacing: .025em;
}

.articleContainer p b {
  // border: 2px solid green;
  color: $highlight;
}


.noHeadlineImageContainer {
  height: 300px;
  width: 100%;
}

.headlineImageContainer {
    box-sizing: border-box;
    width: 100%;
}

.headlineImageContainer img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* centers vertically and horizontally */
}

.articleBody {
    margin:0;
    padding:0;
    font-size: 20px;
      font-feature-settings: "kern" 5;
}

.headlineImagePreview {
    background-color: purple;
    width: 100%;
    height: 200px;
}

.headlineImagePreview img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* centers vertically and horizontally */
}

.sticker {
  background-color: $sticker-color;
  padding: 8px;
  border-radius: $border-radius-md;
  color: $sticker-text;
  font-weight: 600;
  border-radius: $border-radius-sm;
  padding-bottom: 0px;
  user-select: none;
  font-variant: small-caps;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
    text-transform: uppercase;
      font-family: $font-sans;
      text-align: center;
}

.thankYou {
  font-weight: 500;
  color: white;
}